.popover {
    background: rgb(255,255,255);
    color: #000000;
    font-family: Roboto;
    width: 500px;
}
.popover-title{
    background: rgb(153,14,14);
    color: #FFFFFF;
    border-bottom: 0;
    height: 40px;
}
.error-message, label.error {
    color: #ff0000;
    margin:0;
    display: inline;
    font-size: 1em !important;
    font-weight:bold;
}  